.badge {
    color:blue
}
.badge:nth-child(2){
    color:black
}
.div_badge{
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding:30px 0px 
    
}
.main {
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    gap:20px;
    padding:20px 10px;
    background-color: rgb(207, 207, 207);
    border-radius: 20px;
}
.main input {
    flex-grow: 1;
    margin-left: 10px;
}
.main button {
    padding: 20px;
}
.div_badge>div{
    display: flex;
    gap:10px
    
}
.div_badge span {
    border-radius: 5px;
}
.none {
    height: 200px;
    background-color: white;
    box-shadow: 0px 5px 27px rgba(0, 0,0,0.4);
border-radius: 10px;
text-align: center;
line-height: 200px;
font-size: 20px;
}
.todo {
    display: flex;
    flex-direction:column ;
}
.items input {
 appearance: none;
  -webkit-appearance: none;

  /* Tạo kích thước và hình tròn */
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 10px;
  border: 2px solid black;
  cursor: pointer;
}
.items input:checked {
    background-color: green;
}
.items {
    display: flex;
    align-items: center;
    margin: 20px 0px;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0px 0px 3px 3px rgba(0, 0,0,0.2);
}
.time{
        display: flex;
    flex-direction: column;
    gap: 10px;
}
.edit {
    margin-left: auto;
    display: flex;
    gap:10px;
}
.pagation {
    display: inline-block;
    width: 40px;
    background-color:#8b5cf6 ;
    padding:10px;
    border-radius: 3px;
    margin: 0 5px;
}